<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Employee Management</title>
</head>

<body>

<h1>Employee Management System</h1>

<a href="/employees/new">Add Employee</a>

<table border="1" cellpadding="10">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Department</th>
        <th>Salary</th>
        <th>Action</th>
    </tr>

    <tr th:each="employee : ${employees}">
        <td th:text="${employee.id}"></td>
        <td th:text="${employee.name}"></td>
        <td th:text="${employee.email}"></td>
        <td th:text="${employee.department}"></td>
        <td th:text="${employee.salary}"></td>

        <td>
            <a th:href="@{/employees/{id}/edit(id=${employee.id})}">
                Edit
            </a>

            <form th:action="@{/employees/{id}/delete(id=${employee.id})}"
                  method="post"
                  style="display:inline">

                <button type="submit">Delete</button>

            </form>
        </td>
    </tr>

</table>

</body>
</html>